.project-details-wrapper .project-details-items .project-details-content {
    background-color: var(--bg);
    border: 1px solid var(--border);
    padding: 40px;
    border-radius: 5px;
    margin: -65% 106px 0;
    position: relative;
    z-index: 9;
}

