<section class="hero-section hero-3 fix">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="hero-content">
                    <span class="wow fadeInUp">Welcome</span>
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">Casa Wallpaper</h1>
                    <p class="wow fadeInUp" data-wow-delay=".5s">
                        Transform your space with expert wallpaper installations.
                        Elegant, impeccable and tailored to your unique taste.
                    </p>
                    <div class="hero-button">

                        <a class="theme-btn radius-none padding-style wow fadeInUp" data-wow-delay=".7s" (click)="router.navigate(['/gallery'])">
                            View Works
                            <i class="fas fa-long-arrow-right"></i>
                        </a>
                        <div class="icon-items wow fadeInUp" data-wow-delay=".9s">
                            <div class="icon">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <div class="content">
                                <p>Call Us Now</p>
                                <h4>
                                    <button class="fab" (click)="toggleMenu($event)">
                                        
                                        <span class="phone-number">(919) 885-5401</span>
                                    </button>
                                   
                                </h4>
                                <div class="fab-menu" [class.show]="menuOpen">
                                    <button (click)="sendSMS()">Send SMS</button>
                                    <button (click)="makeCall()">Make Call</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="hero-slider-items">
                    <div class="swiper hero-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="hero-image">
                                    <img src="assets/img/hero/03.jpg" alt="hero-img">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hero-image">
                                    <img src="assets/img/hero/04.jpg" alt="hero-img">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="hero-image">
                                    <img src="assets/img/hero/05.jpg" alt="hero-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-section fix section-padding" id="project">
    <div class="container">
        <div class="section-title text-center">
            <span class="wow fadeInUp">Recent Projects</span>
            <h2 class="wow fadeInUp" data-wow-delay=".3s">Elevate Your Home's Design <br> with Interior Mastery</h2>
        </div>
    </div>
    <div class="project-wrapper">
        <div class="swiper project-slider">
            <div class="swiper-wrapper">
                <!-- project.component.html -->
               <!--  <div class="swiper-slide">
                    <div class="project-carousel-items">
                        <div class="project-video">
                            <video src="assets/img/project/video.MOV" controls>
                              
                            </video>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-carousel-items">
                        <div class="project-video">
                            <video src="assets/img/project/video1.MOV" controls>
                              
                            </video>
                        </div>
                    </div>
                </div> -->

                <div class="swiper-slide">
                    <div class="project-carousel-items">
                        <div class="project-image">
                            <img src="assets/img/project/01.jpg" alt="project-img">
                           <!--  <div class="project-content">
                                <h3>
                                    <a>Your Business Our Expertise</a>
                                </h3>
                                <p>Sofa</p>
                                <a class="icon"><i class="fas fa-long-arrow-right"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="project-carousel-items">
                        <div class="project-image">
                            <img src="assets/img/project/02.jpg" alt="project-img">
                           <!--  <div class="project-content">
                                <h3>
                                    <a>Your Business Our Expertise</a>
                                </h3>
                                <p>Sofa</p>
                                <a class="icon"><i class="fas fa-long-arrow-right"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-carousel-items">
                        <div class="project-image">
                            <img src="assets/img/project/03.jpg" alt="project-img">
                           <!--  <div class="project-content">
                                <h3>
                                    <a>Your Business Our Expertise</a>
                                </h3>
                                <p>Sofa</p>
                                <a class="icon"><i class="fas fa-long-arrow-right"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="project-carousel-items">
                        <div class="project-image">
                            <img src="assets/img/project/04.jpg" alt="project-img">
                           <!--  <div class="project-content">
                                <h3>
                                    <a>Your Business Our Expertise</a>
                                </h3>
                                <p>Sofa</p>
                                <a class="icon"><i class="fas fa-long-arrow-right"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-dot">
                <div class="dot"></div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section Start -->
<section class="testimonial-section section-bg section-padding fix">
    <div class="container">
        <div class="section-title text-center">
            <span class="wow fadeInUp">Clients Testimonial</span>
            <h2 class="wow fadeInUp" data-wow-delay=".3s">
                Wallpaper professional service <br> inner happiness
            </h2>
        </div>
        <div class="testimonial-wrapper">
            <div class="array-button">
                <button class="array-prev"><i class="fal fa-arrow-left"></i></button>
                <button class="array-next"><i class="fal fa-arrow-right"></i></button>
            </div>
            <div class="row g-0 align-items-center">
                <div class="col-lg-5">
                    <div class="testimonial-image bg-cover"
                        style="background-image: url('assets/img/testimonial/01.jpg');"></div>
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0">
                    <div class="testimonial-area">
                        <div class="swiper testimonial-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/1.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/2.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/3.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/4.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/5.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/6.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/7.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/8.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/9.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/10.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/11.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/12.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/13.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/14.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/15.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/16.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/17.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/18.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/19.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/20.png');">
                                            </div>
                                           
                                        </div>
                                       
                                      
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/21.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/22.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/23.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/24.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/25.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/26.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-items">
                                        <div class="icon">
                                            <i class="fal fa-quote-right"></i>
                                        </div>
                                        <div class="client-items">
                                            <div class="client-image bg-cover"
                                                style="background-image: url('assets/img/testimonial/27.png');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Section Start -->
<section class="service-section fix section-padding section-bg bg-cover"
    style="background-image: url('assets/img/service/bg-shape.jpg');">
    <div class="bg-shape">
        <img src="assets/img/service/bg-shape.jpg" alt="shape-img">
    </div>
    <div class="container">
        <div class="service-wrapper">
            <div class="row g-4">
                <div class="col-xl-9 col-lg-12">
                    <div class="service-left">
                        <div class="section-title">
                            <span class="wow fadeInUp">Latest Service</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">
                                Creating spaces the that <br> a inspire
                            </h2>
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="service-items mt-4">
                                    <div class="icon">
                                        <i class="flaticon-paint-roller-1"></i>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a (click)="router.navigate(['/services1'])">Interior Painting </a>
                                        </h3>
                                        <p>
                                            Transform the look of your home. Whether you want to revitalize a single
                                            room or completely renovate your entire home, our team provides results that
                                            impeccably reflect your style and vision.
                                        </p>
                                        <a (click)="router.navigate(['/services1'])" class="link-btn">
                                            See details <i class="fas fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="service-items">
                                    <div class="icon">
                                        <i class="flaticon-wallpaper"></i>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a (click)="router.navigate(['/services2'])">Wallpaper installation or repair</a>
                                        </h3>
                                        <p>
                                            Elevate your space with our professional wallpaper installation and repair service. Perfect finish, we take care of every detail to make your vision a reality
                                        </p>
                                        <a (click)="router.navigate(['/services2'])" class="link-btn">
                                            Check It Out <i class="fas fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                                <div class="service-items mt-4">
                                    <div class="icon">
                                        <i class="flaticon-interior-design"></i>
                                    </div>
                                    <div class="content">
                                        <h3>
                                            <a (click)="router.navigate(['/services3'])">Wallpaper removal</a>
                                        </h3>
                                        <p>
                                            Transform your space with our efficient and meticulous wallpaper removal
                                            services. Our team of experts uses advanced tools and techniques to
                                            carefully strip away old wallpaper without causing any damage to your walls.

                                        </p>
                                        <a (click)="router.navigate(['/services3'])" class="link-btn">
                                            Uncover Details <i class="fas fa-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 wow fadeInUp" data-wow-delay=".9s">
                    <div class="service-image bg-cover"
                        style="background-image: url('assets/img/service/01.jpg');"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contact-section fix section-padding pt-0" id="contact">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row align-items-center g-0">
                <div class="col-xl-7">
                    <div class="contact-left">
                        <div class="section-title">
                            <span class="wow fadeInUp">Stay Connected</span>
                            <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">Create a better space</h2>
                        </div>
                       <!--  <form [formGroup]="ngFormRequest" (ngSubmit)="saveRequest()" class="contact-form-items mt-4 mt-md-0">
                            <div class="row g-4">
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="form-clt">
                                  <input type="text" placeholder="Your Name" id="name" name="name" formControlName="name"
                                    [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                                  <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors['required']">Required name.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <input type="text" name="email" id="email" placeholder="Your Email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Required email.</div>
                                    <div *ngIf="f['email'].errors['email']">Invalid email format.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <input type="text" name="phone" id="phone" placeholder="Phone Number" formControlName="phone"
                                    [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
                                  <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                                    <div *ngIf="f['phone'].errors['required']">Required phone.</div>
                                    <div *ngIf="f['phone'].errors['pattern']">Invalid phone number.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="form-clt">
                                  <input type="text" name="zipcode" id="zipcode" placeholder="Zip Code" formControlName="zipcode"
                                    [ngClass]="{ 'is-invalid': submitted && f['zipcode'].errors }">
                                  <div *ngIf="submitted && f['zipcode'].errors" class="invalid-feedback">
                                    <div *ngIf="f['zipcode'].errors['required']">Required zip code.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <select id="servicesType" name="servicesType" class="form-control" formControlName="servicesType" 
                                    [ngClass]="{ 'is-invalid': submitted && f['servicesType'].errors }">
                                    <option value="">Select Services</option>
                                    <option value="Interior Painting">Interior Painting</option>
                                    <option value="Wallpaper installation or repair">Wallpaper installation or repair</option>
                                    <option value="Wallpaper removal">Wallpaper removal</option>
                                  </select>
                                  <div *ngIf="submitted && f['servicesType'].errors" class="invalid-feedback">
                                    <div *ngIf="f['servicesType'].errors['required']">Required services Type.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="form-clt">
                                  <select id="projectType" name="projectType" class="form-control" formControlName="projectType" 
                                    [ngClass]="{ 'is-invalid': submitted && f['projectType'].errors }">
                                    <option value="">Type of project</option>
                                    <option value="installation">Installation</option>
                                    <option value="repair">Repair</option>
                                    <option value="installation and repair">Installation and repair</option>
                                  </select>
                                  <div *ngIf="submitted && f['projectType'].errors" class="invalid-feedback">
                                    <div *ngIf="f['projectType'].errors['required']">Required type of project.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12 wow fadeInUp" data-wow-delay=".7s">
                                <div class="form-clt">
                                  <textarea name="message" id="message" placeholder="Message here.." formControlName="message"
                                    [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"></textarea>
                                  <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                    <div *ngIf="f['message'].errors['required']">Message is required.</div>
                                  </div>
                                </div>
                              </div>
                               <div class="col-12 wow fadeInUp" data-wow-delay=".8s">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="termsCheck" required>
                                        <label class="form-check-label text-white" for="termsCheck" (click)="virtualRouter.setRoute('terms')" style="cursor: pointer;">
                                            By submitting this form, you agree to receive text messages related to our services. You can unsubscribe at any time.
                                        </label>
                                    </div>
                                </div>
                              <div class="col-lg-7 wow fadeInUp" data-wow-delay=".3s">
                                <button type="submit" id="submit-form" class="theme-btn padding-style">
                                  Book Now <i class="fas fa-long-arrow-right"></i>
                                </button>
                              </div>
                            </div>
                          </form> -->
                          
                    </div>
                </div>
                <div class="col-xl-5 mt-5 mt-xl-0">
                    <div class="contact-image bg-cover" style="background-image: url('assets/img/contact-bg.jpg');"></div>
                </div>
            </div>
        </div>
    </div>
</section>

